* {
  border: none;
  font-family: "Inconsolata";
  font-size: 14px;
  min-height: 0;
  color: #ebdbb2;
}

#workspaces,
#custom-power,
#window {
  font-weight: 800;
  background: #1d2021;
}

/* Workspace Buttons */
#workspaces button label {
  color: #ebdbb2;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.visible {
  background: #fabd2f;
}
#workspaces button.active {
  background: #b8bb26;
}

#mode {
  background-color: #cc241d;
  color: white;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
  background: #1d2021;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#custom-power,
#clock,
#mpris,
#language,
.drawer-child,
#idle_inhibitor {
  padding: 0 10px;
}

#cpu.warning,
#memory.warning,
#disk.warning,
#battery.warning {
  color: #fabd2f;
}
#systemd-failed-units,
#cpu.critical,
#memory.critical,
#disk.critical,
#battery.critical {
  color: #cc241d;
}

#idle_inhibitor.activated {
  background-color: #b8bb26;
  color: #1d2021;
}

#custom-power {
  color: #cc241d;
}

#network.disconnected {
  color: #cc241d;
  border-bottom: 4px solid #cc241d;
}

#pulseaudio.muted {
  color: #cc241d;
  border-bottom: 4px solid #cc241d;
}
